* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(66, 66, 66);
}

body {
    background-color: #5ED8E8;
}

nav {
    width: 100%;
    height:  70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 80px;
    font-size: 14px;
    color: rgb(66, 66, 66);
    background-color: #5ED8E8;
}

nav #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Marker Felt';
    font-size: 24px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #ff64d5;
}

nav #login {
    width: 280px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login div {
    border: none;
    background-color: none;
}

#sign-in-btn {
    color: #5f3d2b;
    width: 79px;
    height: 26px;
    margin: 11px 0;
    border-radius: 13px;
    border: solid 1px #ff64d5;
    background-color: #fff690;
}

#sign-in-btn:hover {
    color: #3b2316;
    background-color: #ffe695;
    border: solid 1px #db44b3;
    text-decoration: none;
}

/* ----- Main  */

main {
    width: 100%;
    height: 628px;
    display: flex;
    justify-content: space-around;
    padding: 50px 80px 0;
}

main aside {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main aside img {
    width: 400px;
    height: 400px;
}

main article {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 15px 80px;
}

#main-description h1 {
    font-family: 'Marker Felt';
    width: 322px;
    height: 139px;
    text-shadow: 0 11px 0 rgba(60, 7, 52, 0.74);
    -webkit-text-stroke: 8px #403b09;
    font-size: 128px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #ff64d5;
    margin: 0 0 20px 180px;
}

#main-description p {
    width: 634px;
    height: 71px;
    font-family: Rockwell;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #5f3d2b;
}

/* buttons  */

#main-btns {
    margin-top: 10px;
}

#create-account-btn {
    width: 208px;
    height: 24px;
    margin: 25px 0 11px 27.5px;
    font-family: Rockwell;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1f8080;
    text-decoration: none;
}

#download-app {
    color: #5642EB;
    width: 240px;
    height: 40px;
    font-family: 'Rockwell';
    font-size: 18px;
    border: 3px #5642EB solid;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 11px 0 #403b09;
    background: rgb(255,100,213);
    background: linear-gradient(90deg, rgba(255,100,213,1) 0%, rgba(255,246,144,1) 100%);
}

#download-app:hover {
    transform:  translate(0, 2px);
    box-shadow: 0 7px 0 #403b09;
}

/* THUMBNAILS  */

#thumbnails {
    width: 100%;
    /* background-color: blue; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thumbnails-img {
    width: 400px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

#thumbnails img {
    width: 160px;
    height: 100px
}

/* testimonies  */

article h2 {
    text-align: center;
    margin: 100px 0 20px;
}

#user-testimonies {
    margin: 0 auto;
    width: 1248px;
    height: 560px;
    border: 2px solid red;
}

#user-testimonies > #testimonies-slide  {
    border: dashed 2px green;
    height: 500px;
    width: 1248px;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: blue dashed 2px;
    width: 400px;
}

.user-name {
    font-weight: bold;
}

.user-location {
    font-size: 13px;
}

.testimonies-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid orange;
}

#user-words {
    width: 40%;
    border: 2px solid green;
}

#testimonies-desc p {
    text-align: center;
    /* border: solid red 2px; */
    padding: 0 20px;
    float: right;
}

.fa-star {
    color: #f2ba00;
}
/* footer  */


footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    align-items: center;
    font-size: 14px;
}

#icons-div {
    display: flex;
    width: 100%;
    border: dashed white 1px;
    justify-content: space-between;
}

footer #download-section, 
footer #follow-us-icons {
    width: 152px;
    display: flex;
    justify-content: space-between;
}


.my-icons {
    color: black;
}


footer #download-section {
    width: 212px;
}

