/* delete later  */
img {
    width: 300px;
    height: 300px;
}
/* delete later  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 50px;
    padding: 26px 152px 26px 140px;
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #login {
        p {
            width: 300px;
            height: 22px;
            font-family: "Verdana";
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
            #sign-in-btn {
                font-weight: 900;
                text-decoration: none;
                color: #707070;
                text-transform: uppercase;
            }
        }
    }
}

// MAIN 

main {
    width: 1200px;
    height: 540px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aside { // this is the hero img container
        width: 45%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 500px;
            height: 500px;
        }
    }
    article {
        width: 55%;
        height: inherit;
        #main-description {
            width: 100%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            #description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    text-align: center;
                    font-family: 'Marker Felt', 'Arial';
                    font-size: 100px;
                    text-align: left;
                    color: #707070;
                }
                p {
                    width: 75%;
                    font-family: 'Arial';
                    font-size: 22px;
                    text-align: center;
                    color: #707070;
                    padding: 10px;
                }
            }
            #main-btns {
                margin-top: 50px;
                width: 400px;
                display: flex;
                padding: 10px;
                #download-app-btn {
                    width: 213px;
                    height: 40px;
                    border-radius: 24px;
                    background-color: #3c3c3c;
                    border: none;
                    font-family: Arial;
                    font-size: 16px;
                    color: #fcfcfc;
                    margin-top: 8px;
                } 
                #create-account-btn {
                    margin-left: -10px;
                    a {
                        font-family: Arial;
                        font-size: 16px;
                        font-weight: bold;
                        color: #5a5a5a;
                    }
                }
            }
        }
    }
}

#thumbnails {
    width: 1000px;
    margin: 0 auto;
    // background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 140px;
        height: 100px;
        object-fit: cover;
        margin: 0 30px;
    }
}

