* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: #016471;
}

body {
    background-color: #5CD8E8;
}

nav {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #5CD8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #016471;
    position: fixed;
    #logo {
        width: 48px;
        height: 48px;
    }
    #login {
        p {
            width: 300px;
            height: 22px;
            font-family: "Verdana";
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: #016471;
            #sign-in-btn {
                font-weight: 900;
                text-decoration: none;
                color: #016471;
                text-transform: uppercase;
            }
        }
    }
}

// MAIN 

main {
    width: 1200px;
    height: 660px;
    background-color: #5CD8E8;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    aside { // this is the hero img container
        width: 45%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width:700px;
            height: 700px;
            object-fit: cover;
        }
    }
    article {
        width: 55%;
        height: inherit;
        #main-description {
            width: 100%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            #description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    // font-weight: 400;
                    text-align: center;
                    font-family: 'Fredoka One', cursive;
                    font-size: 100px;
                    text-align: left;
                    color:#FF64D5;
                    text-shadow: 2px 15px 0  #403B09;
                    -webkit-text-stroke: 5px #403B09;
                    letter-spacing: -6px;
                    padding-left: 20px;
                }
                p {
                    width: 75%;
                    font-family: 'Arial';
                    font-size: 22px;
                    text-align: center;
                    color: #016471;
                    padding: 10px;
                }
            }
            #main-btns {
                margin-top: 50px;
                width: 400px;
                display: flex;
                padding: 10px;
                #download-app-btn {
                    width: 213px;
                    height: 40px;
                    border-radius: 24px;
                    background-color: #ff64d5,;
                    border: none;
                    font-family: Arial;
                    font-size: 16px;
                    color: #fcfcfc;
                    margin-top: 8px;
                    background-image: linear-gradient(to right top, #ff64d5, #ff59b0, #ff578c, #ff5f6a, #fe6c4b);
                } 
                #create-account-btn {
                    margin-left: -10px;
                    a {
                        font-family: Arial;
                        font-size: 16px;
                        font-weight: bold;
                        color: #5642EB;
                    }
                }
            }
        }
    }
}

#thumbnails {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 140px;
        height: 100px;
        object-fit: cover;
        margin: 0 30px;
    }
}

// ----------- TESTIMONIES 

#testimonies {
    margin: 70px auto;
    width: 100vw;
    background-color: #fe6c4b;
    height: 800px;
    padding: 50px;
    background-image: linear-gradient(to right top, #ff64d5, #ff59b0, #ff578c, #ff5f6a, #fe6c4b);
    h2 {
        text-align: center;
        margin: 30px 0;
        font-size: 42px;
        color: white;
    }
    #user-testimonies {
        display: flex;
        justify-content: center;
        align-items: center;
        .user {
            width: 340px;
            height: 500px;
            background-color: aliceblue;
            display: flex;
            border-radius: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 20px;
            box-shadow: 11px 11px 0 #5642EB;;
            .user-img {
                width: 240px;
                height: 240px;
                margin-bottom: 15px;
                object-fit: cover;
                // border-radius: 50%;
            }
            h3 {
                color: #fe6c4b;
                text-transform: uppercase;
                font-size: 18px;
            }
            h4 {
                font-size: 12px;
                padding-bottom: 15px;
            }
            p {
                font-size: 14px;
            }
            #rating {
                padding: 10px 0 5px;
                img {
                    width: 160px;
                    height: 32px;
                }
            }
        }
    }
}

// DOWNLOAD APP 

section  {
    h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 42px;
    }
    #download-container {
        width: 1200px;
        margin: 0 auto;
        height: 600px;
        // background-color: #ff64d5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        #links {
            .link-container {
                // background-color: olive;
                width: 400px;
                height: 100px;
                margin: 10px;
                .my-icons {
                    text-decoration: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    span {
                        font-weight: 600;
                        font-size: 3rem;
                        margin-top: 25px;
                        color: #fe6c4b;
                        text-shadow: 2px 6px 0  #403B09;
                    -webkit-text-stroke: 1px #403B09;
                    }
                    .app-link {
                        font-size:5rem;
                        margin-top: 20px;
                        color: #fe6c4b;
                        background: linear-gradient(to right top, #ff64d5, #ff59b0, #ff578c, #ff5f6a, #fe6c4b);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            } 
            // #app-store {
            //     .my-icons {
            //         span, .app-link {
            //             color: rgb(0, 122, 255);
            //         }
            //         span {
            //             font-weight: 600;
            //             text-shadow: 2px 5px 0  #403B09;
            //             -webkit-text-stroke: 2px #403B09;
            //         }
            //     }
            // }
            // #play-store {
            //     .my-icons {
            //         span, .app-link {
            //             color: #ff2949;
            //         }
            //         span {
            //             font-weight: 600;
            //             text-shadow: 2px 5px 0  #403B09;
            //             -webkit-text-stroke: 2px #403B09;
            //         }
            //     }
            // }
        }
        #download-image img {
            width: 500px;
            height: 500px;
            object-fit: cover;
        }
    }
}


// FOOTER 

footer {
    width: 100vw;
    height: 100px;
    background-color: #FF64D5;
    display: flex;
    justify-content: center;
    align-items: center;
    #follow-us-icons  {
        display: flex;
        a > i {
            color: white;
            font-size: x-large;
            margin: 2px;
        }
        a > i:hover {
            color: #5CD8E8;
        }
    }
}



