* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height:  50px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 80px;
}

nav #logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #login {
    width: 240px;
    height: inherit;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ----- Main  */

main {
    width: 100%;
    height: 628px;
    background-color: pink;
    display: flex;
    padding: 50px 80px 0;
}

main aside {
    width: 60%;
    background-color: orange;
}

main aside img {
    width: 500px;
    height: 500px;
}

main article {
    width: 40%;
}

#thumbnails {
    width: 100%;
    background-color: blue;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thumbnails-img {
    width: 400px;
    border: red dashed 2px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

#thumbnails img {
    width: 100px;
    height: 90px
}

/* testimonies  */

#user-testimonies {
    width: 100%;
    height: 660px;
    background-color: aquamarine;
    padding: 0 80px;
}

#user-testimonies .testimonies {
    display: flex;
    height: 480px;
}

.testimonies #testimonies-img {
    border: dashed red 2px;
    flex: 2;
}

.testimonies #testimonies-desc {
    border: dashed green 2px;
    flex: 1;
}

#user-testimonies h2 {
    text-align: center;
    padding-top: 120px;
}

.testimonies-img {
    width: 300px;
    height: 300px;
}

/* footer  */


footer {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

footer #download-section, 
footer #follow-us-icons {
    border: 2px solid red;
    width: 160px;
    display: flex;
    justify-content: space-between;
}


footer #download-section {
    border: 2px solid red;
    width: 212px;
}